@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --fg-color: #202124;
    --main-color: #cf0a0a;
    --dark-color: #9e0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Varela Round', sans-serif;
    color: var(--fg-color);
    background: var(--bg-color);
    overflow-x: hidden;
    
}

.container{
    width: 93%;
    max-width: 1400px;
    margin: auto;
}
.flexDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--fg-color);
    cursor: pointer;
}
button, input{
    outline: none;
    border: none;
    cursor: pointer;
}
img{
    width: 36px;
}
section{
    height: 100vh;
    flex-wrap: wrap;
    padding-top: 6rem;
    overflow: hidden;
}
h1{
    font-size: 3rem;
}
h3{
    font-size: 1.2rem;
}
h1 span{
    color: var(--main-color);
    font-size: 3rem;
}
.btns{
    width: 100%;
}
.btns button{
    position: relative;
    padding: 1rem 0;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.btns button a{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.btns button:nth-child(1){
    margin-left: 2rem;
    background: var(--main-color);
}
.btns button:nth-child(2){
    background: #000;
}
.btns button::before{
    content: "";
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: -1;
    transition: scale 0.6s ease-in-out;
}
.btns button:nth-child(1)::before{
    background: #000;
}
.btns button:nth-child(2)::before{
    background: var(--main-color);
}
.btns button:hover::before{
    scale: 40;
}
.btns button:active{
    scale: 0.96;
}




/* -------- Header -------- */

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
header nav{
    padding: 1rem 0;
    background: var(--bg-color);
}
header nav div:nth-child(1){
    justify-content: space-between;
}

/* ---- for script.js -------  */
.navShadow{
    box-shadow: 0 0 1rem #0000003d;
}

header nav .navLogo{
    font-size: 2rem;
}
header nav .navMenu{
    width: 72%;
    padding: 0 1rem;
}
.navMenu ul{
    justify-content: flex-end;
}
.navMenu ul li{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    position: relative;
}
.navActive{
     color: var(--main-color);
}
.navMenu ul li a{
    transition: color 0.3s ease-in-out;
}
.navMenu ul li a:hover{
    color: var(--main-color);
}
.humburger{
    display: none;
    background: url("images/menu.svg") no-repeat center;
    background-size: cover;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/* ----Hero Section -------  */
#heroSection{
    position: relative;
}
#heroSection .left{
    width: 60%;
    margin-bottom: 3rem;
}
#heroSection .right{
    width: 40%;
}
#heroSection .left .position{
    display: inline-block;
    color: #fff;
    background: var(--main-color);
    padding: 0.4rem 1rem;
    border: 2px solid var(--dark-color);
    border-radius: 50px;
    box-shadow: 0 0 18px -6px var(--dark-color);
    margin: 1.2rem 0;
}
#heroSection .left .name{
    margin-bottom: 1rem;
}
#heroSection .left .name h1, #heroSection .left .name h1 span{
    font-size: 4.5rem;
}
#heroSection .left .about{
    width: 90%;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}
#heroSection .right .circle{
    width: 390px;
    height: 390px;
    margin: auto;
    background: var(--main-color);
    border: 6px solid var(--dark-color);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
}
#heroSection .right .circle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 410px;
    border: 6px dashed var(--dark-color);
    border-radius: 50%;
}
#heroSection .right .circle::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border: 6px dotted var(--dark-color);
    border-radius: 50%;
    z-index: -1;
}

#heroSection .right .circle .imgBox{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    border-radius: 20px 20px 200px 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heroSection .right .circle .imgBox::before{
    content: "";
    position: absolute;
    top: 63%;
    left: 9%;
    width: 39px;
    height: 39px;
    background: var(--dark-color);
    border-radius: 50%;
}

#heroSection .right .circle .imgBox::after{
    content: "";
    position: absolute;
    top: 54%;
    left: 15%;
    width: 30px;
    height: 30px;
    background: var(--dark-color);
    border-radius: 50%;
}
#heroSection .right .circle img{
    width: 130%;
}

#heroSection .links{
    position: absolute;
    bottom: 3%;
    left: 0;
}
#heroSection .links a{
    padding: 0 1rem;
    transition: scale 2s ease-in-out;
}
#heroSection .links a:hover img{
    transform-origin: bottom;
    scale: 1.1;
}

/* --------- About Section --------- */

section .heading{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

section .heading::before{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 6px;
    background: var(--main-color);
    border: 50px;
}
#aboutSection .left{
    width: 50%;
}
#aboutSection .left img{
    width: 80%;
}
#aboutSection .right{
    width: 50%;
}
#aboutSection .right p{
    font-size: 1.8rem;
    line-height: 50px;
    text-align: justify;
}
p span{
    font-size: 1.8rem;
    background: var(--main-color);
    color: #fff;
    padding: 0 6px;
}

/* -------- Skills Section ------ */

#skillsSection .skills{
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid var(--fg-color);
}
#skillsSection .skill{
    justify-content: space-between;
    padding: 0.9rem 0;
    border-bottom: 1px solid var(--fg-color);
    border-spacing: 0px;
}
#skillsSection .skill h1{
    font-size: 1.5rem;
}
#skillsSection .skill h1:nth-child(1){
    width: 270px;
}
#skillsSection .skill h1:nth-child(2){
    color: #fff;
    background: var(--main-color);
    padding: 0.3rem 0.9rem 0.2rem 0.9rem;
    border-radius: 50px;
    text-align: center;
    width: 180px;
}
#skillsSection .skill .progressBar{
    width: 30%;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}
#skillsSection .skill .progressBar::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    background: var(--main-color);
    border-radius: 50px;
}
#skillsSection .skill:nth-child(1) .progressBar::before{ width: 90%; }
#skillsSection .skill:nth-child(2) .progressBar::before{ width: 70%; }
#skillsSection .skill:nth-child(3) .progressBar::before{ width: 70%; }
#skillsSection .skill:nth-child(4) .progressBar::before{ width: 80%; }
#skillsSection .skill:nth-child(5) .progressBar::before{ width: 60%; }
#skillsSection .skill:nth-child(6) .progressBar::before{ width: 70%; }
#skillsSection .skill:nth-child(7) .progressBar::before{ width: 50%; }
#skillsSection .skill:nth-child(8) .progressBar::before{ width: 40%; }

/* ------- Contact Section --------*/

#contactSection form{
    flex-wrap: wrap;
}
#contactSection form input, #contactSection form textarea{
    width: 80%;
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    color: var(--fg-color);
    background: transparent;
    border: 2px solid var(--fg-color);
    cursor: text;
    border-radius: 50px;
}
#contactSection form textarea{
    border-radius: 12px;
    resize: none;
}
#contactSection .btns{
    text-align: center;
    margin: 2rem;
}

/* ----------- footer --------- */

#footer{
    background: var(--main-color);
    padding: 1.2rem 0 1rem 0;
}
#footer p{
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
}

/* -------- Media Query --------- */
@media (max-width: 1200px){
    /* -- hero Section -- */
    #heroSection .left{ width: 50%; }
    #heroSection .right{ width: 50%; }
    #heroSection .right .circle{ 
        width: 360px; 
        height: 360px;
    }
    /* -- aboutSection -- */
    #aboutSection .right p{ line-height: 40px; }
}

@media (max-width: 1024px){
    *{ font-size: 14px; }

    /*  -- header -- */
    .navMenu{
        position: absolute;
        top: 270%;
        left: 50%;
        transform: translateX(100%);
        z-index: 100;
        transition: transform 0.3s;
    }
    .navMenu ul{
        flex-direction: column;
        gap: 3rem;
    }
    .navMenu ul li{
        width: 100%;
        text-align: center;
    }
    .navMenu li a{ font-size: 2rem; }
    .navMenu li:before, #header .navMenu a::before { display: none; }

    /* --navBtn */
    header .navBtn{
        position: fixed;
        bottom: 6%;
        top: 6%;
        width: 60px;
        height: 60px;
        padding: 10px;
        background: var(--bg-color);
        border-radius: 12px;
        box-shadow: 0 0 12px 0 #0000003d;
        z-index: 200;
    }
    header .navBtn button img{
        left: 50%;
        transform-origin: left top;
        transform: translate(-50%, -50%);
    }
    .humburger{
        display: block;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.5s,  background-image 0.1s 0.25s;
    }
    .hamburgerAnimation{
        transform: translateY(-50%) rotate(0);
        background-image: url("images/close.svg");
    }
    .navMenuAnimation{ transform: translateX(-50%); }
    .navMenuBackgroundAnimation::before{
        content: "";
        position: fixed;
        top: 72px;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        z-index: 100;
        transition: transform 0.3s;
    }
    .navMenuBackgroundAnimation::before{ transform: translateX(0); }
    .scrollOff{ overflow-y: hidden; }

    /* heroSection */
    #heroSection.left{ width: 55%; }
    #heroSection.left .btns button{ margin-bottom: 1.8rem; }
    #heroSection.right{ width: 45%; }
    #heroSection.right .circle{
        width: 300px;
        height: 300px;
    }
    #heroSection.right .circle::before{
        width: 330px;
        height: 330px;
    } 
    #heroSection.right .circle::after{
        width: 360px;
        height: 360px;
    }

    /* -- SkillSection -- */
    #skillSection .skill h1:nth-child(1){ width: 220px; }


}

@media (max-width: 768px){
    body {overflow: unset; }
    section{ height: unset; }

    /* -- heroSection */
    #heroSection{ flex-direction: column-reverse; }
    #heroSection .left{ width: 100%; }
    #heroSection .right{
        width: 100%;
        margin: 8rem 0 4rem 0;
    }
    #heroSection .left{ text-align: center; }
    #heroSection .left .name h1, #heroSection .left .name h1 span{ font-size: 4rem; } 
    #heroSection .left .about{
        width: 100%;
        margin-bottom: 1rem;
    }
    #heroSection .left .btns{
        margin-bottom: 2rem;
        justify-content: space-around;
    } 
    #heroSection .left .btns button{ margin: 1rem; }
    #heroSection .links{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    /* -aboutSection -- */
    #aboutSection .left, #aboutSection .right{
        width: 100%;
        text-align: center;
        margin: 3rem 0;
    }

    /* -skillSection -- */
    #skillsSection .skills{ margin-top: 4rem; }
    #skillsSection .skills .skill{
        flex-wrap: wrap;    
        gap: 1.5rem 0;
    }
    #skillsSection .skills .skill h1:nth-child(1){ width: 60%; }
    #skillsSection .skills .skill h1:nth-child(2){ width: 40%; }
    #skillsSection .skills .skill .progressBar{ width: 80%; }

    /* --contactSection -- */
    #contact_form{
        margin-top: 2rem;
    }

    /* -- Footer -- */
    #footer{
        margin-top: 2rem;
    }
}

@media (max-width: 480px){
    *{ font-size: 12px; }
}

